<!DOCTYPE html>
<html>
<head>
  <title>Rango</title>
</head>
<body>
  <h1>{{ cat_name }}</h1>

  {% if category %}
    {% if pages %}
      <ul>
        {% for page in pages %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>No pages currently in category.</strong> 
    {% endif %}

    <hr>
    <p>Add a page to {{cat_name}} category <a href="{% url 'add_page' category.slug %}">[+]</a>.</p>

  {% else %}
    The specified category does not exists!
  {% endif %}


</body>
</html>