<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Rango</title>
</head>
<body>
  <h1>Rango says... hello World!</h1>

  {% if cat_list %}
    <ul>
      {% for cat in cat_list %}
        <li><a href="{% url 'category' cat.slug %}">{{ cat.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>There are no categories present.</strong>
  {% endif %}   
  
  {% if popular_pages %}

    <h3>Popular pages:</h3>
    <ul>
      {% for page in popular_pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <hr>
  <a href="{% url 'add_category' %}">Add a New Category</a><br>
  <a href="{% url 'about' %}">About</a>
</body>
</html>